[user]
name = Stephen Schwink
email = stephen.schwink@gmail.com

[core]
editor = emacs
autocrlf = input

[init]
defaultBranch = main

[commit]
template = /Users/schwink/.gitmessage

[alias]
cp = commit -am 'cp'
sl = log --graph --all --decorate

[color]
ui = auto
